<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="plant">
            <h2><span jhiTranslate="appLab2App.plant.detail.title">Plant</span> {{plant.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appLab2App.plant.name">Name</span></dt>
                <dd>
                    <span>{{plant.name}}</span>
                </dd>
                <dt><span jhiTranslate="appLab2App.plant.productiveCapacity">Productive Capacity</span></dt>
                <dd>
                    <span>{{plant.productiveCapacity}}</span>
                </dd>
                <dt><span jhiTranslate="appLab2App.plant.address">Address</span></dt>
                <dd>
                    <span>{{plant.address}}</span>
                </dd>
                <dt><span jhiTranslate="appLab2App.plant.latitude">Latitude</span></dt>
                <dd>
                    <span>{{plant.latitude}}</span>
                </dd>
                <dt><span jhiTranslate="appLab2App.plant.longitude">Longitude</span></dt>
                <dd>
                    <span>{{plant.longitude}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/plant', plant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
