<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-distance-heading" jhiTranslate="appLab2App.distance.home.createOrEditLabel">Create or edit a Distance</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!distance.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="distance.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLab2App.distance.distance" for="field_distance">Distance</label>
                    <input type="number" class="form-control" name="distance" id="field_distance"
                        [(ngModel)]="distance.distance" required/>
                    <div [hidden]="!(editForm.controls.distance?.dirty && editForm.controls.distance?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.distance?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.distance?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLab2App.distance.plant" for="field_plant">Plant</label>
                    <select class="form-control" id="field_plant" name="plant" [(ngModel)]="distance.plantId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="plantOption.id" *ngFor="let plantOption of plants; trackBy: trackPlantById">{{plantOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLab2App.distance.market" for="field_market">Market</label>
                    <select class="form-control" id="field_market" name="market" [(ngModel)]="distance.marketId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="marketOption.id" *ngFor="let marketOption of markets; trackBy: trackMarketById">{{marketOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
