<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="distance">
            <h2><span jhiTranslate="appLab2App.distance.detail.title">Distance</span> {{distance.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appLab2App.distance.distance">Distance</span></dt>
                <dd>
                    <span>{{distance.distance}}</span>
                </dd>
                <dt><span jhiTranslate="appLab2App.distance.plant">Plant</span></dt>
                <dd>
                    <div *ngIf="distance.plantId">
                        <a [routerLink]="['/plant', distance.plantId, 'view']">{{distance.plantId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="appLab2App.distance.market">Market</span></dt>
                <dd>
                    <div *ngIf="distance.marketId">
                        <a [routerLink]="['/market', distance.marketId, 'view']">{{distance.marketId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/distance', distance.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
