<div>
    <h2 id="page-heading">
        <span jhiTranslate="appLab2App.distance.home.title">Distances</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-distance" [routerLink]="['/distance/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="appLab2App.distance.home.createLabel">
            Create new Distance
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="distances">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="plantId"><span jhiTranslate="appLab2App.distance.plant">Plant</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="marketId"><span jhiTranslate="appLab2App.distance.market">Market</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="distance"><span jhiTranslate="appLab2App.distance.distance">Distance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let distance of distances ;trackBy: trackId">
                <td>
                    <div *ngIf="distance.plantId">
                        <a [routerLink]="['../plant', distance.plantId , 'view' ]" >{{distance.plantName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="distance.marketId">
                        <a [routerLink]="['../market', distance.marketId , 'view' ]" >{{distance.marketName}}</a>
                    </div>
                </td>
                <td>{{distance.distance}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/distance', distance.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/distance', distance.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'distance/'+ distance.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
