<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="appLab2App.modelConfig.home.createOrEditLabel">Create or edit a Model Config</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
            <div class="modal-body">
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLab2App.modelConfig.param" for="field_param">Param</label>
                    <input type="text" class="form-control" name="param" id="field_param"
                        [(ngModel)]="modelConfig.param" required/>
                    <div [hidden]="!(editForm.controls.param?.dirty && editForm.controls.param?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.param?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLab2App.modelConfig.value" for="field_value">Value</label>
                    <input type="text" class="form-control" name="value" id="field_value"
                        [(ngModel)]="modelConfig.value" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLab2App.modelConfig.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="modelConfig.description" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="clear()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>

