<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="envConfig">
            <h2><span jhiTranslate="appLab2App.envConfig.detail.title">Env Config</span> {{envConfig.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appLab2App.envConfig.param">Param</span></dt>
                <dd>
                    <span>{{envConfig.param}}</span>
                </dd>
                <dt><span jhiTranslate="appLab2App.envConfig.value">Value</span></dt>
                <dd>
                    <span>{{envConfig.value}}</span>
                </dd>
                <dt><span jhiTranslate="appLab2App.envConfig.description">Description</span></dt>
                <dd>
                    <span>{{envConfig.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/env-config', envConfig.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
