<div>
    <h2 id="page-heading">
        <span jhiTranslate="appLab2App.modelDef.home.title">Model Defs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-model-def" [routerLink]="['/', { outlets: { popup: 'model-def/new'} }]">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="appLab2App.modelDef.home.createLabel">
            Create new Model Def
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>

    <div class="table-responsive" *ngIf="modelDefs">
        <table class="table">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                <th jhiSortBy="name"><span jhiTranslate="appLab2App.modelDef.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="language"><span jhiTranslate="appLab2App.modelDef.language">Language</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="solver"><span jhiTranslate="appLab2App.modelDef.solver">Solver</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="currentVersion"><span jhiTranslate="appLab2App.modelDef.currentVersion">Current Version</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="description"><span jhiTranslate="appLab2App.modelDef.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
            </tr>
            </thead>
            <tbody *ngFor="let modelDef of modelDefs ;trackBy: trackId" infinite-scroll (scrolled)="loadPage(page + 1)"
                   [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr (click)="isCollapsed[modelDef.id] = !isCollapsed[modelDef.id]"
                [attr.aria-expanded]="!isCollapsed[modelDef.id]" aria-controls="collapseExample" style="background-color: rgba(0,0,0,.05)">
                <td><a [routerLink]="['/model-def', modelDef.id, 'view' ]">{{modelDef.name}}</a></td>
                <td jhiTranslate="{{'appLab2App.Language.' + modelDef.language}}">{{modelDef.language}}</td>
                <td jhiTranslate="{{'appLab2App.Solver.' + modelDef.solver}}">{{modelDef.solver}}</td>
                <td>{{modelDef.currentVersion}}</td>
                <td>{{modelDef.description}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'model-def/'+ modelDef.id + '/edit'} }]"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'model-def/'+ modelDef.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            <tr id="collapse1" [ngbCollapse]="isCollapsed[modelDef.id]">
                <td></td>
                <td colspan="3">
                    <h4>Configuración
                        <button class="btn btn-primary btn-sm float-right jh-create-entity create-model-def"
                                [routerLink]="['/', { outlets: { popup: 'model-config/new/'  + modelDef.id } }]">
                            <fa-icon [icon]="'plus'"></fa-icon> Nuevo
                        </button>
                    </h4>
                    <div class="table-responsive" *ngIf="modelDef.modelConfigs">
                        <table class="table table-condensed table-sm table-bordered">
                            <thead class="thead-dark">
                            <tr>
                                <th><span jhiTranslate="appLab2App.modelConfig.param">Param</span> </th>
                                <th><span jhiTranslate="appLab2App.modelConfig.value">Value</span> </th>
                                <th><span jhiTranslate="appLab2App.modelConfig.description">Description</span> </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let modelConfig of modelDef.modelConfigs">
                                <td>{{modelConfig.param}}</td>
                                <td>{{modelConfig.value}}</td>
                                <td>{{modelConfig.description}}</td>
                                <td class="text-center">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="submit"
                                                [routerLink]="['/', { outlets: { popup: 'model-config/'+ modelConfig.id + '/edit/' + modelDef.id} }]"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-primary btn-sm">
                                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/', { outlets: { popup: 'model-config/'+ modelConfig.id + '/delete'} }]"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-danger btn-sm">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>

                <td colspan="2">
                    <h4>Funciones Objetivo
                        <button class="btn btn-primary btn-sm float-right jh-create-entity create-model-def"
                                [routerLink]="['/', { outlets: { popup: 'model-obj-function/new/'  + modelDef.id } }]">
                            <fa-icon [icon]="'plus'"></fa-icon> Nuevo
                        </button>
                    </h4>
                    <div class="table-responsive" *ngIf="modelDef.modelObjFunctions">
                        <table class="table table-condensed table-sm table-bordered">
                            <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th><span jhiTranslate="appLab2App.modelObjFunction.name">Name</span> </th>
                                <th><span jhiTranslate="appLab2App.modelObjFunction.description">Description</span> </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let modelObj of modelDef.modelObjFunctions">
                                <td>{{modelObj.code}}</td>
                                <td>{{modelObj.name}}</td>
                                <td>{{modelObj.description}}</td>
                                <td class="text-center">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="submit"
                                                [routerLink]="['/', { outlets: { popup: 'model-obj-function/'+ modelObj.id + '/edit/' + modelDef.id} }]"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-primary btn-sm">
                                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/', { outlets: { popup: 'model-obj-function/'+ modelObj.id + '/delete'} }]"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-danger btn-sm">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td></td>
            </tr>
            <tr id="collapse2" [ngbCollapse]="isCollapsed[modelDef.id]">
                <td style="border-top: none"></td>
                <td colspan="5" style="border-top: none">
                    <h4>Versiones
                        <button class="btn btn-primary btn-sm float-right jh-create-entity create-model-def"
                                [routerLink]="['/', { outlets: { popup: 'model-version/new/'  + modelDef.id } }]">
                            <fa-icon [icon]="'plus'"></fa-icon> Nuevo
                        </button>
                    </h4>
                    <div class="table-responsive" *ngIf="modelDef.modelVersions">
                        <table class="table table-condensed table-sm table-bordered">
                            <thead class="thead-dark">
                            <tr>
                                <th><span jhiTranslate="appLab2App.modelVersion.version">Version</span></th>
                                <th><span jhiTranslate="appLab2App.modelVersion.creationDate">Creation Date</span></th>
                                <th><span jhiTranslate="appLab2App.modelVersion.srcPath">Src Path</span></th>
                                <th><span jhiTranslate="appLab2App.modelVersion.description">Description</span></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let modelVersion of modelDef.modelVersions">
                                <td>{{modelVersion.version}}</td>
                                <td>{{modelVersion.creationDate | date:'mediumDate'}}</td>
                                <td>{{modelVersion.srcPath}}</td>
                                <td>{{modelVersion.description}}</td>
                                <td class="text-center">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="submit"
                                                [routerLink]="['/', { outlets: { popup: 'model-version/'+ modelVersion.id + '/edit/' + modelDef.id} }]"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-primary btn-sm">
                                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/', { outlets: { popup: 'model-version/'+ modelVersion.id + '/delete'} }]"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-danger btn-sm">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td style="border-top: none"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
