        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <div class="modal-header">
                <h4 class="modal-title" jhiTranslate="appLab2App.modelVersion.home.createOrEditLabel">Create or edit a Model Version</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        (click)="clear()">&times;</button>
            </div>

            <div class="modal-body">
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLab2App.modelVersion.version" for="field_version">Version</label>
                    <input type="number" class="form-control" name="version" id="field_version"
                        [(ngModel)]="modelVersion.version" required/>
                    <div [hidden]="!(editForm.controls.version?.dirty && editForm.controls.version?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.version?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.version?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLab2App.modelVersion.creationDate" for="field_creationDate">Creation Date</label>
                    <div class="input-group">
                        <input id="field_creationDate" type="text" class="form-control" name="creationDate" ngbDatepicker  #creationDateDp="ngbDatepicker" [(ngModel)]="modelVersion.creationDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLab2App.modelVersion.srcPath" for="field_srcPath">Src Path</label>
                    <input type="text" class="form-control" name="srcPath" id="field_srcPath"
                        [(ngModel)]="modelVersion.srcPath" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLab2App.modelVersion.srcContent" for="field_srcContent">Src Content</label>
                    <textarea class="form-control" name="srcContent" id="field_srcContent"
                        [(ngModel)]="modelVersion.srcContent" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLab2App.modelVersion.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="modelVersion.description" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="clear()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
