<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="market">
            <h2><span jhiTranslate="appLab2App.market.detail.title">Market</span> {{market.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appLab2App.market.name">Name</span></dt>
                <dd>
                    <span>{{market.name}}</span>
                </dd>
                <dt><span jhiTranslate="appLab2App.market.demand">Demand</span></dt>
                <dd>
                    <span>{{market.demand}}</span>
                </dd>
                <dt><span jhiTranslate="appLab2App.market.address">Address</span></dt>
                <dd>
                    <span>{{market.address}}</span>
                </dd>
                <dt><span jhiTranslate="appLab2App.market.latitude">Latitude</span></dt>
                <dd>
                    <span>{{market.latitude}}</span>
                </dd>
                <dt><span jhiTranslate="appLab2App.market.longitude">Longitude</span></dt>
                <dd>
                    <span>{{market.longitude}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/market', market.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
