<div>
    <h2>Acerca de <strong>App #2: Transporte</strong></h2>
    <div class="row">
    <div class="col-sm-12">
        <p class="lead">
            <strong>App #2: Transporte es una herramienta para la planificación diaria al menor costo de la distribución de suministros entre plantas de producción y mercados.</strong>
        </p>
        <blockquote class="blockquote">
            <p>
                <strong>Planificación de Distribución</strong>:
            </p>
            <ol>
                <li>Cargar plantas de producción. [Entidades -> Plantas de Producción]</li>
                <li>Cargar mercados. [Entidades -> Mercados]</li>
                <li>Cargar distancias entre plantas y mercados. [Entidades -> Distancias]</li>
                <li><strong>Ejecutar el Optimization Point #1: Planificador de Envíos</strong></li>
            </ol>
            <p>
                El resultado de esta etapa es la lista de envíos de una planta a un mercado, y la cantidad de contenedores a enviar en cada caso.
            </p>
            <!--
            <footer class="blockquote-footer">Matt Raible in <cite title="The JHipster Mini-Book">The JHipster Mini-Book</cite></footer>
            -->
        </blockquote>
        <p>
            Esta aplicación ha sido desarrollada por el <a href="http://www.ingar.santafe-conicet.gov.ar/">Instituto INGAR (CONICET - UTN)</a>.
        </p>
    </div>

</div>
</div>
