<div [ngSwitch]="isAuthenticated()" class="dashboard-cont">

    <div class="row">
        <div class="col-md-3">
            <span class="hipster img-fluid rounded"></span>
        </div>
        <div class="col-md-9">
            <br>
            <br>
            <h1 class="display-4" jhiTranslate="home.title">home.title</h1>
            <p class="lead" jhiTranslate="home.subtitle">home.subtitle</p>
            <!-- non authenticated section -->
            <div *ngSwitchCase="false">
                <div class="alert alert-info">
                    <button class="btn btn-primary" (click)="login()" [ngbTooltip]="inTooltip" placement="top">
                        <fa-icon [icon]="'sign-in-alt'"></fa-icon>
                        <span jhiTranslate="global.messages.info.authenticated.link">sign in</span>
                        <ng-template #inTooltip><span jhiTranslate="global.messages.info.authenticated.defAccounts">defAccounts</span>
                        </ng-template>
                    </button>
                </div>

                <!-- Mensaje para ingresar con cuenta demo -->
                <div class="alert alert-info">
                    <span jhiTranslate="global.messages.info.demo.noaccount">You don't have an account?</span>&nbsp;
                    <br>
                </div>

                <!-- Mensaje para registrar nueva cuenta -->
                <!--
                <div class="alert alert-info">
                    <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                    <br>
                    <button class="btn btn-info" routerLink="register">
                        <fa-icon [icon]="'user-plus'"></fa-icon>
                        <span jhiTranslate="global.messages.info.register.link">Register a new account</span>
                    </button>
                </div>
                -->
            </div>
            <br>
            <a routerLink="about" class="btn btn-info hidden-sm-down text-white">
                <fa-icon [icon]="'info-circle'"></fa-icon>
                <span jhiTranslate="global.messages.info.learnMore">Learn more</span>
            </a>

        </div>
    </div>
</div>
